
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border;
    padding: 0;
    border: 0;
    text-decoration: none;
    text-wrap: wrap;
}

li {
    list-style-type: none;
}
h1 {
    text-align: center;
    font-size: 52px;
    font-weight: bold;
    color: rgb(247, 4, 4);

}
.shadowb {
    text-shadow:
    2px 1px 0 #000,  
     1px 0px 0 #000,
     1px 1px 0 #000,
      0px 0px 0 #000;
}
.shadoww {
    text-shadow:
    0px -1px 0 #fff,  
     1px 0px 0 #fff,
     0px 0px 0 #fff,
      0px 1px 0 #fff;
}

h2 {
    font-size: 38px;
    color: rgb(170, 0, 0);
}
h3 {
    font-size: 32px;
    color: rgb(247, 4, 4);
}

p {
    font-size: 20px;
    color: rgb(247, 4, 4);
    
}
.row {
    max-width: 1400px;
    margin: 0 auto;
    background-color: rgb(202, 234, 241);
}

.container {
    padding: 96px 24px;
    display: flex;
    background-color: rgb(202, 234, 241);
}
.click:hover {
    cursor: pointer;
}
.button__search {
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 18px;
    background-color: rgb(253, 0, 0);
    color: #fff;
    border: 4px solid white;
    box-shadow: rgb(0, 0, 0) 10px 10px 30px .2px;
}
.button__search:hover {
    background-color: #fff;
    border: 4px solid rgb(253, 0, 0);
    color: rgb(253, 0, 0);
}
.nav__link:hover {
    text-decoration: underline;
    color: #e78686;
}

/***  

Nav

*/

#nav, #landing, #search {
    background-color: rgb(202, 234, 241);
}
.nav__container {
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    padding: 16px 32px;
}



.logo__img { 
    width: 150px;
    
}
.nav__links {
    display: flex;
    padding-right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    padding: 18px;
    color: rgb(253, 0, 0);
    font-size: 48px;
    font-weight: bold;
}



/***

Landing

**/

.landing__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.button__popular {
    margin-top: 38px;
    padding: 24px 48px;
    font-size: 32px;
    
}

.gaming__companies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
}
.companies__img {
    width: 175px;
    box-shadow: rgb(0, 0, 0) 10px 10px 30px .2px;
    transition: 350ms all ease;
}


.companies__img:hover {
    transform: scale(115%);
}
/***

News

**/
.news__subtitle {
    color: #fff;
    width: 60%;
}
.news__url {
    font-size: 28px;
    margin: 32px 0;
    color: rgb(170, 0, 0);
}

.news__container {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px; 
    width: 100%;
}
.arrow {
    position: relative;
    z-index: 100;
    font-size: 100px;
    color: white;
    
}
.arrow-right {
     transform-origin: 200%;
    
}

.news__window {
    position: relative;
    display: flex;
    background-color: #2b0202;
    border: 5px solid rgb(7, 6, 6);
    border-radius: 24px;
    align-items: center;
    box-shadow: rgb(0, 0, 0) 10px 10px 30px .2px;
    
}
.news__img {
    width: 100%;
    border-radius: 24px;
    box-shadow: #fff 0px 0px 10px 10px;
}

.mini__windows {
    display: flex;
}
.mini__img {
    width: 250px;
    border-radius: 24px;
}
.mini__window {
    display: flex;
    background-color: #311111;
    border: 5px solid rgb(7, 6, 6);
    
}

/***

Popular Games

**/

.popular__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popular__games {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #2b0202;
    border: 5px solid rgb(7, 6, 6);
    border-radius: 24px;
    box-shadow: rgb(0, 0, 0) 10px 10px 30px .2px;
    
    
}

.popular__game {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(252, 0, 0);
    width: 375px;
    height: 500px;
    background-color: #000;
    border-radius: 18px;
    margin: 32px 22px;
    transition: 350ms all ease;
    box-shadow: rgba(255, 4, 4, 0.342) 10px 20px 50px .2px;
    
}

.popular__img--wrapper {
    display: flex;
}
.popular__img {
    width: 100%;
    transform: scale(120%);
}
.popular__game:hover {
    transform: scale(135%);  
    z-index: 1;
}
.game__genre--text, .game__developer--text {
    font-weight: bold;
}
.game__link--text {
    width: 100%;
    font-size: 12px;
    color: rgb(247, 4, 4);
    margin: 18px 0;
}
.popular__text--wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.search__container {
    flex-direction: column;
}


/*****

Search area 

***/
.search__container {
    align-items: center;
}


.search__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.game__filter {
    display: flex;
    margin: 32px;
}
.game__search {
    margin-right: 12px;
}
.textarea__game {
    width: 80%;
}
.toggle {
    margin: 24px;
    width: 150px;
    height: 48px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    border-radius: 12px;
    color: #fff;
    background-color: #2b0202;
    text-shadow:
    0px -1px 0 rgb(252, 0, 0),  
     1px 0px 0 rgb(252, 0, 0),
     0px 0px 0 rgb(252, 0, 0),
      0px 1px 0 rgb(252, 0, 0);
}
.toggle__release--btn {
    font-size: 30px;
    width: 120px;
}
.toggle__label { 
    font-size: 32px;
    width: 35%;
    font-weight: bold;
}
.label__wrapper {
    margin-right: 32px;
}